<div class="container mt-4" data-bs-theme="dark">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h1 class="fs-2e">Todo App</h1>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Adicionar tarefa
    </button>
  </div>
  <hr />
  <div class="mb-3"></div>

  <table class="table align-middle">
    <thead>
      <tr>
        <th class="text-center">Task</th>
        <th class="text-center">Complete</th>
        <th class="text-center">Delete</th>
        <th class="text-center">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskArray">
        <td align="center">{{ task.name }}</td>
        <td align="center">
          <input
            (change)="handleDoneTask($event, task._id)"
            class="form-check-input"
            type="checkbox"
            value=""
            [checked]="task.status === 'DONE'"
            id="checkedTask"
          />
        </td>
        <td align="center">
          <button (click)="handleTaskDelete(task._id)" class="btn">
            <fa-icon [icon]="trashIcon" class="text-danger"></fa-icon>
          </button>
        </td>
        <td align="center">
          <button (click)="handleTaskDelete(task._id)" class="btn">
            <fa-icon [icon]="editIcon" class="text-danger"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-new-task-modal (getTasks)="getTask()"></app-new-task-modal>
</div>
